{% extends "base.html" %}
{% block content %}
<div class="container mt-4" style="max-width:500px;">
    <div class="d-flex align-items-center mb-2">
        <a href="{{ url_for('main.main_page') }}" class="btn btn-link p-0 me-2" title="Back to Map">
        <i class="bi bi-arrow-left-square-fill" style="font-size: 2rem; vertical-align: middle;"></i>
        <span class="visually-hidden">Back to Map</span>
        </a>
        <h1 class="mb-0" style="font-size:2rem;">{{ location.name }}</h1>
    </div>
    {% if location.image_url %}
    <div class="text-center">
      <img src="{{ url_for('static', filename='images/' ~ location.image_url) }}" alt="{{ location.name }}" class="img-fluid mb-3" style="max-height:300px;">
    </div>
    {% endif %}
    <div class="mb-3">
        <p>{{ location.clue_text }}</p>
    </div>
</div>
{% endblock %}